In [10]:
import pandas as pd
da = pd.read_csv("niftysorted.csv")
da.head()

        date    p/e   p/b  div yield %     close      eps
0  11-Jul-24  23.14  4.19         1.23  24315.95  1050.82
1  28-Jun-24  22.85  4.14         1.25  24010.60  1050.79
2  31-May-24  21.40  3.95         1.28  22530.70  1052.84
3  30-Apr-24  22.00  3.96         1.16  22604.85  1027.49
4  28-Mar-24  22.88  3.94         1.20  22326.90   975.83

In [11]:
cur1 = da["eps"][0:1].values
cur2 = da["close"][0:1].values

print("eps::price (%)")

for t in range(6,61,6):

    prev1 = da["eps"][t:t+1].values
    val = ((cur1/prev1-1)*100).round(2)
    print(f"{t} months  {val[0]}",end="")

    prev2 = da["close"][t:t+1].values 
    val = ((cur2/prev2-1)*100).round(2)
    print(f" :: {val[0]}")

eps::price (%)
6 months  8.63 :: 11.92
12 months  22.4 :: 23.1
18 months  23.33 :: 37.67
24 months  26.96 :: 41.72
30 months  41.93 :: 40.23
36 months  80.06 :: 54.26
42 months  181.85 :: 78.34
48 months  186.58 :: 119.59
54 months  132.0 :: 103.27
60 months  159.16 :: 118.71