In [7]:
import pandas as pd
da = pd.read_csv("newnifty.csv")

da.head()

        Date    P/E   P/B Div Yield %     Close     EPS
0  29-Dec-23  23.17  3.81        1.28  21731.40  937.91
1  28-Dec-23  23.27  3.82        1.27  21778.70  935.91
2  27-Dec-23  23.14  3.80        1.28  21654.75  935.81
3  26-Dec-23  22.91  3.76        1.29  21441.35  935.89
4  22-Dec-23  22.81  3.74         1.3  21349.40  935.97

In [8]:
row = da.shape
row = row[0]

l = "date,p/e,p/b,div yield %,close,eps\n"
co = 12
k = []
def appe(j):
    global l
    te = ""
    global co
    k = da[j:j+1].values
    k = k[0]
    for u in range(len(k)):
        te+=str(k[u])
        if(u!=5):
            te+=","
        else:
            te+= "\n"
    l+=te

    co -= 1
    if(co == 0):
        co = 12

def ckadd(mo, j):
    if(co == 1 and mo == "Jan"):
        appe(j)
    elif(co == 2 and mo == "Feb"):
        appe(j)
    elif(co == 3 and mo == "Mar"):
        appe(j)
    elif(co == 4 and mo == "Apr"):
        appe(j)
    elif(co == 5 and mo == "May"):
        appe(j)
    elif(co == 6 and mo == "Jun"):
        appe(j)
    elif(co == 7 and mo == "Jul"):
        appe(j)
    elif(co == 8 and mo == "Aug"):
        appe(j)
    elif(co == 9 and mo == "Sep"):
        appe(j)
    elif(co == 10 and mo == "Oct"):
        appe(j)
    elif(co == 11 and mo == "Nov"):
        appe(j)
    elif(co == 12 and mo == "Dec"):
        appe(j)

for i in range(row):
    st =da.Date[i].split("-")
    ckadd(st[1],i)

In [9]:
loc = "niftysorted.csv"

with open(loc,"w") as fi:
    fi.write(str(l))