In [33]:
import pandas as pd
da = pd.read_csv("newnifty.csv")

da.head()

        Date    P/E   P/B Div Yield %     Close      EPS
0  11-Jul-24  23.14  4.19        1.23  24315.95  1050.82
1  10-Jul-24  23.15  4.19        1.23  24324.45  1050.73
2   9-Jul-24  23.25  4.21        1.23  24433.20  1050.89
3   8-Jul-24  23.14  4.19        1.23  24320.55  1051.02
4   5-Jul-24  23.15  4.19        1.23  24323.85  1050.71

In [34]:
from datetime import datetime
month = datetime.now().month

In [35]:
row = da.shape
row = row[0]

l = "date,p/e,p/b,div yield %,close,eps\n"
co = month
k = []
def appe(j):
    global l
    te = ""
    global co
    k = da[j:j+1].values
    k = k[0]
    for u in range(len(k)):
        te+=str(k[u])
        if(u!=5):
            te+=","
        else:
            te+= "\n"
    l+=te

    co -= 1
    if(co == 0):
        co = 12

def ckadd(mo, j):
    if(co == 1 and mo == "Jan"):
        appe(j)
    elif(co == 2 and mo == "Feb"):
        appe(j)
    elif(co == 3 and mo == "Mar"):
        appe(j)
    elif(co == 4 and mo == "Apr"):
        appe(j)
    elif(co == 5 and mo == "May"):
        appe(j)
    elif(co == 6 and mo == "Jun"):
        appe(j)
    elif(co == 7 and mo == "Jul"):
        appe(j)
    elif(co == 8 and mo == "Aug"):
        appe(j)
    elif(co == 9 and mo == "Sep"):
        appe(j)
    elif(co == 10 and mo == "Oct"):
        appe(j)
    elif(co == 11 and mo == "Nov"):
        appe(j)
    elif(co == 12 and mo == "Dec"):
        appe(j)

for i in range(row):
    st =da.Date[i].split("-")
    ckadd(st[1],i)

In [36]:
loc = "niftysorted.csv"

with open(loc,"w") as fi:
    fi.write(str(l))