In [1]:
import pandas as pd
data = pd.read_csv("data.csv")
data.date = pd.to_datetime(data.date)

In [2]:
res = pd.DataFrame(columns=["years", "price %"])

time = [6,12,18,24,36,60,84,120]

cur = data.iloc[0].close
i=0
for t in time:

    try:
        prev = data.iloc[t].close
        val = ((cur/prev-1)*100).round(2)

        res.loc[i] = [t/12, val]
        i+=1
    except:
        break

In [3]:
res

   years  price %
0    0.5    -8.92
1    1.0     3.74
2    1.5    13.01
3    2.0    25.90
4    3.0    16.80
5    5.0    61.90
6    7.0    56.54
7   10.0    90.28