In [62]:
import pandas as pd

prices=pd.read_csv("historical-prices.csv")

In [63]:
prices

       Index Name         Date Open High Low    Close
0     NIFTY50 USD  01 Feb 2025    -    -   -  9393.80
1     NIFTY50 USD  31 Jan 2025    -    -   -  9404.31
2     NIFTY50 USD  30 Jan 2025    -    -   -  9299.94
3     NIFTY50 USD  29 Jan 2025    -    -   -  9273.21
4     NIFTY50 USD  28 Jan 2025    -    -   -  9192.85
...           ...          ...  ...  ...  ..      ...
7272  NIFTY50 USD  09 Nov 1995    -    -   -   954.31
7273  NIFTY50 USD  08 Nov 1995    -    -   -   964.57
7274  NIFTY50 USD  07 Nov 1995    -    -   -   973.58
7275  NIFTY50 USD  06 Nov 1995    -    -   -   984.23
7276  NIFTY50 USD  03 Nov 1995    -    -   -  1000.00

[7277 rows x 6 columns]

In [64]:
price = prices["Close"]

In [65]:
data = pd.DataFrame()
data["date"] = prices.Date
data["close"] = prices.Close

In [66]:
data.date = pd.to_datetime(data.date)

last_dates = data.groupby(data.date.dt.to_period("M"))["date"].transform("max")
sorted_data = data[data["date"] == last_dates]

In [67]:
sorted_data.to_csv("../analysis/data.csv",index=False)